.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    margin-top: 0px;
    object-fit: cover;
    object-position: top;
    height: 400px;
    border-radius: 50%;
    width: 100%;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
    transition: all .25s;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 75%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 50%;
}