
.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: #ededed;
}

.cards .cards-card-body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-top:0em;
        margin-bottom: 0.25em;
}

.cards .cards-card-image {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    border-radius: 50%;
    height:164px;
    width: 164px;
    object-fit: cover;
}